
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

header{
    background-color: #E554731A;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .bnr-text h1{
    font-size: 40px;
    font-weight: 800;
    color: #000000;
}

.banner .bnr-text *{
    margin-bottom: 32px;
    max-width: 525px;
}

p{
    font-size: 18px;
    font-weight: 400;
    color: #27272799;
}

button{
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    border: none;
    padding: 14px 28px;
    font-size: 20px;
}

.banner .bnr-img img{
    width: 100%;
    vertical-align: middle;
}